---
import Layout from "@layouts/Layout.astro";
import HeroBackground from "@components/molecules/HeroBackground.astro";
import IconLink from "@components/atoms/IconLink.astro";
import arrowRight from "@assets/icons/right-arrow.svg?raw";
---

<Layout title="Page Not Found" description={`Page not found.`}>
    <section>
        <div class="container">
            <h1>Oh well... This is awkward...</h1>
            <p>I seem to have missed something</p>
            <IconLink href="/" text="Take me home" iconRight={arrowRight} />
        </div>
        <HeroBackground />
    </section>
</Layout>

<style>
    section {
        position: relative;
        padding-top: 35vh;
        padding-bottom: calc(var(--nav-height) + 2 * var(--spacer));
        margin-bottom: 0;
    }

    .container {
        text-align: end;

        a {
            margin-top: 4rem;
        }
    }
</style>
