<button id="burgerButton" aria-label="unfold navigation menu" class="hidden">
    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <rect class="top line" x="11" y="17" width="25" height="1"></rect>
        <rect class="middle line" x="11" y="24" width="25" height="1"></rect>
        <rect class="bottom line" x="11" y="31" width="25" height="1"></rect>
    </svg>
</button>

<style>
    button {
        max-height: var(--nav-height);
        transform: translateX(12px);

        svg {
            height: var(--nav-height);
            width: var(--nav-height);
            fill: var(--clr-text);

            .line {
                transform-origin: center;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            svg {
                opacity: 0.3;

                .top {
                    y: 1rem;
                }

                .bottom {
                    y: 2rem;
                }

                &.unfolded {
                    .line {
                        y: 1.5rem;
                    }
                }
            }
        }

        &.unfolded {
            svg {
                .middle {
                    opacity: 0;
                }

                .top {
                    y: 1.5rem;
                    transform: rotate(45deg);
                }

                .bottom {
                    y: 1.5rem;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    @media (min-width: 40rem) {
        button {
            transform: translateX(0px);
        }
    }
</style>
