<button id="menuButton" class="hidden">
    <svg id="hamburger" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <rect class="top line" x="11" y="17" width="25" height="1"></rect>
        <rect class="middle line" x="11" y="24" width="25" height="1"></rect>
        <rect class="bottom line" x="11" y="31" width="25" height="1"></rect>
    </svg>
</button>

<style>
    button {
        max-height: var(--nav-height);

        #hamburger {
            height: var(--nav-height);
            width: var(--nav-height);
            fill: var(--clr-text);

            .line {
                transform-origin: center;
                transition: all 0.3s ease-in-out;
            }

            &.unfolded {
                .middle {
                    opacity: 0;
                }

                .top {
                    y: 1.5rem;
                    transform: rotate(45deg);
                }

                .bottom {
                    y: 1.5rem;
                    transform: rotate(-45deg);
                }
            }
        }

        &:hover {
            #hamburger {
                opacity: 0.3;

                .top {
                    y: 1rem;
                }

                .bottom {
                    y: 2rem;
                }

                &.unfolded {
                    .line {
                        y: 1.5rem;
                    }
                }
            }
        }
    }
</style>

<script>
    const body = document.querySelector("body");
    const header = document.querySelector("header");
    const nav = document.querySelector("nav");
    const hamburgerButton = document.querySelector("#menuButton");
    const haburgerIcon = document.querySelector("#hamburger");
    hamburgerButton.addEventListener("click", handleMenuClick);

    function handleMenuClick() {
        body.classList.toggle("no-scroll");
        header.classList.toggle("unfolded");
        nav.classList.toggle("hidden");
        haburgerIcon.classList.toggle("unfolded");
    }
</script>
