---
import { Image } from "astro:assets";

const { logoSize = 48 } = Astro.props;
---

<a href="/">
    <Image
        src="/favicon.svg"
        alt="limi logo"
        width={logoSize}
        height={logoSize}
    />
</a>
