---
const { href, text, ...rest } = Astro.props;

const isActive = href.split("/")[1] == Astro.url.pathname.split("/")[1];
---

<a href={href} class:list={[{ active: isActive }]} {...rest}>{text}</a>

<style>
    a {
        font-size: var(--fs-h4);

        &.active,
        &:hover {
            color: var(--clr-primary);

            &::after {
                width: 100%;
                background-color: var(--clr-primary);
            }
        }

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 1.5px;
            background-color: var(--clr-text);
            transition: width 0.3s ease-out;
        }
    }
</style>
