---
const { href, text, ...rest } = Astro.props;
---

<a href={href} aria-label={`navigation link to ${text} page`} {...rest}>{text}</a>

<style>
    a {
        font-size: var(--fs-m);

        &.active,
        &:hover {
            color: var(--clr-text);

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: var(--clr-primary);
            transition: width 0.3s ease-out;
        }
    }
</style>
