<div class="background"></div>

<style>
    .background {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            margin: 0 auto;
            background: var(--clr-secondary);

            top: calc(3 * (var(--nav-height) + 2 * var(--spacer)));
            bottom: calc(var(--nav-height) + 2 * var(--spacer));
            inset-inline: calc(var(--nav-height) + 2 * var(--spacer));
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;

            backdrop-filter: blur(10rem);
            -webkit-backdrop-filter: blur(10rem);
        }
    }

    @media (min-width: 42rem) {
        .background {
            &::before {
                top: calc(2.5 * (var(--nav-height) + 2 * var(--spacer)));
                inset-inline: calc(1.5 * (var(--nav-height) + 2 * var(--spacer)));
                max-width: calc(var(--container-width) - 2 * (var(--nav-height) + 3 * var(--spacer)));
            }
        }
    }
</style>
