<div class="background"></div>

<style>
    .background {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            margin: 0 auto;
            background: var(--clr-secondary);

            top: calc(3 * var(--nav-height));
            bottom: calc(2 * var(--nav-height));
            inset-inline: calc(2 * var(--nav-height));
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;

            backdrop-filter: blur(10rem);
            -webkit-backdrop-filter: blur(10rem);
        }
    }

    @media (min-width: 40rem) {
        .background::before {
            top: calc(2 * var(--container-padding));
            bottom: calc(1.5 * var(--container-padding));
            inset-inline: calc(2 * var(--container-padding));
            max-width: calc(
                var(--container-width) - 4 * var(--container-padding)
            );
        }
    }
</style>
