<div class="container flex vertical-split">
    <div>
        <h2>
            I'm an independent Computer Science graduate with a background in
            architecture design.
        </h2>
    </div>
    <div class="flow-content">
        <p>
            I'm a lifelong learner and a passionate creator, driven to bring
            ideas to life across various mediums from illustrations and posters
            to 3D visualizations, movies, furniture, and even apps. Puzzles and
            logical challenges are my playground, and I thrive on the thrill of
            problem-solving.
        </p>
        <p>
            Currently, I seek a software development role that will nurture my
            growth as a developer.
        </p>
    </div>
</div>

<style>
    .flex.vertical-split {
        flex-direction: column;
        align-items: center;
        --first-split: 60%;
    }

    @media (min-width: 40rem) {
        .flex.vertical-split {
            flex-direction: row-reverse;
        }
    }
</style>
