---
import IconLink from "@components/atoms/IconLink.astro";
import rightArrow from "@assets/icons/right-arrow.svg?raw";
---

<section>
    <div class="container flex vertical-split">
        <div>
            <h2>
                I'm an independent Computer Science graduate with a background
                in architecture design.
            </h2>
        </div>
        <div class="flow-content">
            <p>
                I'm a lifelong learner and a passionate creator, driven to bring
                ideas to life across various mediums.
            </p>
            <p>
                I am currently looking for a software development role that will nurture
                my growth as a developer.
            </p>
            <IconLink href="/about" text="Get to know me" iconRight={rightArrow} ariaLabel="link to About me page"/>
        </div>
    </div>
</section>

<style>
    .flow-content {
        --flow-space: 1rem;

        a {
            justify-content: start;
        }
    }

    .flex.vertical-split {
        flex-direction: column;
        align-items: center;
        --first-split: 60%;
    }

    @media (min-width: 40rem) {
        .flex.vertical-split {
            flex-direction: row-reverse;
        }
    }
</style>
