<div class="container flex vertical-split">
    <div>
        <h2>
            I'm an independent Computer Science student with experience in
            architecture design.
        </h2>
    </div>
    <div class="flow-content">
        <p>
            I love to learn and to create... anything from illustration, flyers,
            posters, 3d visualizations to movies, furniture and apps.
        </p>
        <p>
            Currently I'm looking for a job that will let me grow as a front-end
            developer with full-stack developer perspective.
        </p>
    </div>
</div>

<style>
    .flex.vertical-split {
        flex-direction: column;
        align-items: center;
        --first-split: 62%;
    }

    @media (min-width: 40rem) {
        .flex.vertical-split {
            flex-direction: row-reverse;
        }
    }
</style>
