---
import { Image } from "astro:assets";

import BurgerMenu from "@components/atoms/BurgerMenu.astro";
import ThemeSwitcher from "@components/atoms/ThemeSwitcher.astro";
import NavLink from "@components/atoms/NavLink.astro";

const navLinks = [
    { path: "/", text: "Home" },
    { path: "/portfolio", text: "Portfolio" },
    { path: "/blog", text: "Blog" },
    { path: "/about", text: "About" },
];
---

<header transition:persist>
    <nav class="hidden flex container">
        <ul class="flex unstyle-list">
            {
                navLinks.map((link) => (
                    <li>
                        <NavLink href={link.path} text={link.text} />
                    </li>
                ))
            }
            <li>
                <ThemeSwitcher />
            </li>
        </ul>
    </nav>

    <div class="main-menu logo">
        <a href="/">
            <Image
                src="/favicon.svg"
                alt="round red limi logo"
                width={48}
                height={48}
            />
        </a>
    </div>

    <div class="main-menu burger">
        <BurgerMenu />
    </div>
</header>

<style>
    header {
        position: relative;
        height: calc(var(--nav-height) + 2 * var(--spacer));
    }

    .main-menu {
        position: fixed;
        z-index: 1000;
        margin: var(--spacer);

        &.logo {
            left: 0;
            width: var(--nav-height);
            height: var(--nav-height);
        }

        &.burger {
            right: 0;

            button {
                transition: opacity 0.2s ease-in;
            }
        }
    }

    nav {
        position: fixed;
        z-index: 1;
        inset-inline: 0;
        top: 0;
        height: calc(var(--nav-height) + var(--spacer));
        padding-top: var(--spacer);

        justify-content: end;
        align-items: center;

        backdrop-filter: none;
        -webkit-backdrop-filter: none;

        transition:
            height 0.01s ease-out,
            backdrop-filter 0.5s ease-out,
            -webkit-backdrop-filter 0.5s ease-out;

        &.animated {
            transition: opacity 0.2s ease-in;
        }

        ul {
            justify-content: flex-end;
        }

        &.unfolded {
            z-index: 999;
            height: 100vh;

            justify-content: center;
            align-items: start;

            backdrop-filter: blur(var(--spacer));
            -webkit-backdrop-filter: blur(var(--spacer));

            ul {
                margin-top: calc(var(--nav-height) + var(--spacer));
                flex-direction: column;
                gap: 2rem;
            }
        }
    }
</style>

<script>
    import "../../scripts/nav.js";
    import "../../scripts/theme.js";
</script>
