---
import { Image } from "astro:assets";

import BurgerMenu from "@components/atoms/BurgerMenu.astro";
import ThemeSwitcher from "@components/atoms/ThemeSwitcher.astro";
import NavLink from "@components/atoms/NavLink.astro";

const navLinks = [
    { path: "/", text: "Home" },
    { path: "/portfolio", text: "Portfolio" },
    { path: "/blog", text: "Blog" },
    { path: "/contact", text: "Contact" },
];
---

<header class="flex">
    <a href="/" class="logo">
        <Image src="/favicon.svg" alt="limi logo" width={48} height={48} />
    </a>

    <nav class="hidden">
        <ul class="flex unstyle-list">
            {
                navLinks.map((link) => (
                    <li>
                        <NavLink href={link.path} text={link.text} />
                    </li>
                ))
            }
            <li>
                <ThemeSwitcher {...Astro.props} />
            </li>
        </ul>
    </nav>

    <BurgerMenu />
</header>

<style>
    header {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        height: calc(var(--nav-height) + 2 * var(--spacer));

        padding: var(--spacer);

        align-items: flex-start;

        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        transition:
            -webkit-backdrop-filter 0.5s ease-out,
            backdrop-filter 0.5s ease-out,
            height 0.01s ease-out 0.5s,
            z-index 0s linear 0.5s;

        nav {
            width: 0;
        }

        .logo {
            width: 3rem;
            height: 3rem;
            flex-shrink: 0;
        }

        ul {
            min-height: var(--nav-height);
            gap: calc(1.2 * var(--spacer));
        }

        &.unfolded {
            height: 100vh;

            backdrop-filter: blur(var(--spacer));
            -webkit-backdrop-filter: blur(var(--spacer));
            transition:
                height 0.01s ease-out,
                backdrop-filter 0.5s ease-out,
                -webkit-backdrop-filter 0.5s ease-out;

            ul {
                margin-top: calc(var(--nav-height) + var(--spacer));
                flex-direction: column;
                gap: 2rem;
            }
        }
    }

    @media (min-width: 40rem) {
        header {
            height: calc(var(--nav-height) + 2 * var(--spacer));
            padding: var(--spacer);

            nav {
                width: 100%;
                max-width: calc(
                    var(--container-width) - 2 * var(--container-padding)
                );
                opacity: 1;

                &.animated {
                    transition: all 0.2s ease-in;
                }
            }

            ul {
                justify-content: flex-end;
            }

            &:has(nav.hidden) {
                z-index: 0;
            }
        }
    }
</style>

<script>
    import "../../scripts/nav.js";
</script>
