---
import CircledText from "@components/atoms/CircledText.astro";
import HeroBackground from "@components/molecules/HeroBackground.astro";
---

<section>
    <div class="container">
        <div class="text">
            <h1>Jack of all trades master of none</h1>
            <div class="block">
                <p>but oftentimes better than a master of</p>
                <CircledText text="one" />
            </div>
        </div>
    </div>

    <HeroBackground />
</section>

<style>
    section {
        position: relative;
        top: calc(-1 * (var(--nav-height) + 2 * var(--spacer)));

        margin: 0;
        padding: 0;
        min-height: 100vw;
    }

    .container {
        padding-top: 50vw;
    }

    .text {
        h1 {
            text-wrap: balance;
            max-width: 16rem;
        }

        .block {
            text-align: end;
            max-width: 10rem;
            margin-left: auto;
            margin-top: var(--spacer);
        }

        p {
            display: inline;
        }
    }

    @media (min-width: 40rem) {
        section {
            min-height: 80vh;
        }

        .container {
            padding-top: 36vh;
        }

        .text {
            h1 {
                max-width: 37rem;
            }

            .block {
                max-width: 14rem;
                font-size: var(--fs-medium);
            }
        }
    }
</style>
