<section>
    <div class="container">
        <h1>Jack of all trades master of none</h1>
        <p>but oftentimes better than a master of one</p>
    </div>
</section>

<style>
    section {
        padding-top: 10rem;
        min-height: 80vh;
        background: var(--clr-surface);
    }
</style>
