---
import CircledText from "@components/atoms/CircledText.astro";
import HeroBackground from "@components/molecules/HeroBackground.astro";
---

<section>
    <div class="container">
        <h1>Jack of all trades master of none</h1>
        <div class="block">
            <p>but oftentimes better than a master of</p>
            <CircledText text="one" />
        </div>
    </div>

    <HeroBackground />
</section>

<style>
    section {
        position: relative;
        min-height: 100vw;
    }

    .container {
        padding-top: 20vh;
        padding-bottom: calc(var(--nav-height) + 2 * var(--spacer));

        h1 {
            font-weight: var(--fw-extra-bold);
            padding-bottom: 0;
            max-width: 19rem;
        }

        .block {
            text-align: end;
            font-size: var(--fs-m);

            max-width: 13rem;
            margin-left: auto;
            margin-top: var(--spacer);
        }

        p {
            display: inline;
        }
    }

    @media (min-width: 40rem) {
        .container {
            padding-top: 28vh;

            h1 {
                font-size: 3.5rem;
                max-width: 37rem;
            }

            .block {
                max-width: 14rem;
            }
        }

        section {
            min-height: 80vh;
        }
    }
</style>
