---
import LinkSeeMore from "@components/atoms/LinkSeeMore.astro";
import MyWorkList from "@components/molecules/MyWorkList.astro";
---

<section>
    <div class="container">
        <div class="flex">
            <h2>My work</h2>
            <LinkSeeMore href="/portfolio">See all</LinkSeeMore>
        </div>
        <MyWorkList />
    </div>
</section>

<style>
    .flex {
        align-items: end;
        margin-bottom: var(--spacer);
    }
</style>
