---
import ProjectCard from "@components/molecules/ProjectCard.astro";
const { heading, projects } = Astro.props;
---

<section>
    <div class="container">
        <h1>{heading}</h1>
        <ul class="unstyle-list grid">
            {projects.map((project) => <ProjectCard project={project} />)}
        </ul>
    </div>
</section>

<style>
    .grid {
        display: grid;
        grid-auto-rows: 1fr;
        gap: var(--spacer);
    }

    @media (min-width: 60rem) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 40rem) {
        .grid {
            margin-top: 1rem;
        }
    }
</style>
