---
import Head from "@layouts/Head.astro";
import Header from "@components/organisms/Header.astro";
import Footer from "@components/organisms/Footer.astro";

const black = "#252525";
const darkGrey = "#2C2C2C";
const white = "#F6F6F6";
const grey = "#E8ECED";
const red = "#BC523C";
const blue = "#6F818B";
const darkBlue = "#4F6069";

const {
    title = "Kaja Limisiewicz's personal site",
    description = "My web portfolio and blog",
    image = "/images/limi.jpg",
} = Astro.props;
---

<html lang="en" data-theme="light">
    <Head title={title} description={description} image={image} />
    <body>
        <Header transition:animate="none" />
        <main>
            <slot />
        </main>
        <Footer transition:animate="none" />
    </body>
</html>

<style define:vars={{ black, darkGrey, white, grey, red, blue, darkBlue }} is:global>
    :root {
        scroll-behavior: smooth;

        --spacer: 1rem;
        --container-width: 65rem;
        --section-padding: 0;
        --nav-height: 3rem;
        --background-surface-height: 90vw;

        --ff-rubik: "Rubik", sans-serif;
        --ff-montserrat: "Montserrat", sans-serif;
        --ff-quicksand: "Quicksand", sans-serif;

        --fs-xl: 2rem;
        --fs-l: 1.5rem;
        --fs-m: 1.25rem;
        --fs-s: 1rem;
        --fs-xs: 0.875rem;

        --fw-light: 300;
        --fw-medium: 500;
        --fw-semi-bold: 600;
        --fw-bold: 700;
        --fw-extra-bold: 800;

        --box-shadow: 0 0.1rem 0.25rem rgba(44, 44, 44, 0.05);

        --clr-primary: var(--red);
        --clr-secondary: var(--blue);
        --clr-secondary-variant: var(--darkBlue);
    }

    @media (min-width: 40rem) {
        :root {
            --spacer: 2rem;
            --section-padding: 5rem;
            --background-surface-height: 48vh;

            --fs-xl: 3.5rem;
            --fs-l: 2.375rem;
        }
    }

    @media (min-width: 40rem) and (max-width: 75rem) {
        :root {
            --container-width: 55rem;

            --fs-xl: 2.5rem;
            --fs-l: 2rem;
            --fs-m: 1.15rem
        }
    }

    [data-theme="light"] {
        --clr-background: var(--white);
        --clr-surface: var(--grey);
        --clr-text: var(--darkGrey);
        --clr-variation: -5%;
        color-scheme: light;
    }

    [data-theme="dark"] {
        --clr-background: var(--black);
        --clr-surface: var(--darkGrey);
        --clr-text: var(--grey);
        --clr-variation: 5%;
        color-scheme: dark;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }

    body {
        font-family: var(--ff-rubik);
        font-size: var(--fs-p);
        font-weight: var(--fw-light);
        color: var(--clr-text);
        margin: 0;
        line-height: 1.2;

        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;

        background: linear-gradient(
            180deg,
            var(--clr-surface) var(--background-surface-height),
            var(--clr-background) var(--background-surface-height)
        );
        background-repeat: no-repeat;
    }

    h1 {
        font-family: var(--ff-montserrat);
        font-size: var(--fs-xl);
        font-weight: var(--fw-medium);
        padding-bottom: 1rem;
    }

    h2 {
        font-family: var(--ff-montserrat);
        font-size: var(--fs-l);
    }

    h3 {
        font-size: var(--fs-m);
        font-weight: var(--fw-semi-bold);
    }

    h4 {
        font-family: var(--ff-rubik);
        font-size: var(--fs-s);
        font-weight: var(--fw-semi-bold);
    }

    p {
        line-height: 1.5;
    }

    a {
        color: var(--clr-text);
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        vertical-align: middle;

        &:hover {
            cursor: pointer;
        }
    }

    section {
        margin-bottom: calc(3 * var(--spacer));

        &:first-of-type {
            padding-top: calc(var(--nav-height) + 2 * var(--spacer));
        }
    }

    section, footer, nav {
        padding-inline: var(--section-padding);
    }

    .container {
        max-width: var(--container-width);
        padding-inline: var(--spacer);
        margin: 0 auto;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacer);
    }

    .flex.equal {
        > * {
            flex-basis: 100%;
        }
    }

    .flex.vertical-split {
        --first-split: 80%;

        > *:first-child {
            flex-basis: var(--first-split);
        }

        > *:last-child {
            flex-basis: calc(100% - var(--first-split));
        }
    }

    .flow-content > * + * {
        margin-top: var(--flow-space, var(--spacer));
    }

    .visible {
        opacity: 1;
        pointer-events: auto;
    }

    .hidden {
        opacity: 0 !important;
        pointer-events: none;
    }

    .no-scroll {
        overflow: hidden;
    }

    .unstyle-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .light-font {
        font-size: var(--fs-xs);
        color: var(--clr-text);
        opacity: 0.7;
    }

    .placeholder-background {
        width: 100%;
        height: 100%;
        background-color: var(--clr-text);
        mask-image: url("../assets/placeholder.svg");
        -webkit-mask-image: url("../assets/placeholder.svg");
    }

    .card {
        position: relative;

        > a:first-child {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        .img-wrapper {
            overflow: hidden;

            img {
                filter: grayscale(80%);
                opacity: 0.6;
                transition:
                    opacity 0.5s ease-in-out,
                    transform 0.3s ease-in-out,
                    filter 0.3s ease-in-out;
            }
        }

        &:hover {
            .img-wrapper img {
                transform: scale(105%);
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
</style>