---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Portfolio | Kaja Limisiewicz">
    <section class="header">
        <div class="container">
            <h1>Portfolio</h1>
        </div>
    </section>
</Layout>
